default: &default
  adapter: postgresql
  encoding: unicode
  username: memes
  host: 127.0.0.1
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: development

test:
  <<: *default
  database: test

production:
  <<: *default
  database: production
  # username: admin 
  # password: admin
  # password: <%= ENV['PROJECT_DATABASE_PASSWORD'] %>
